.o-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 0;
  transition: .5s;

  &.is-loading { filter: blur(3px); }
}

.o-grid--item {
  flex: 1 0 50%;
  padding: 5px;
}

.c-widget {
  background: #fff;
  border-radius: $base-radius;
  height: 100%;
}

.c-widget--heading {
  padding: 12px 10px;
  font-size: 13px;
  font-weight: bold;
}

.c-widget--content { padding: 5px; }

.o-dashboard--loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .85);
  z-index: 2;

  > h3 {

  }
}
